# Интеллектуальный анализ работы хранилища данных на основании обработки логов
## Задача 
- Найти высоконагруженные “горячие” объекты хранилища данных и спрогнозировать потенциальный рост нагрузки.
## Описание задачи:
На основе предоставленных логов хранилища необходимо разработать алгоритм обработки данных и прогнозирования будущей нагрузки. Важно частью задачи является выявление и распределение объектов хранилища по различным критериям.

 В качестве исходных данных предоставлен набор логов, которые содержат запросы к базе данных GreenPlum. Нужно предложить метод быстрой обработки этих данных. Выделению отдельных объектов, к которым чаще всего обращаются пользователи. Выявления самых “тяжелыx” и самых “горячих” объектов. Прогнозирование нагрузки на систему в разные временные отрезки.

In [1]:
#!pip install catboost

In [2]:
import os
import pandas as pd
import numpy as np
from collections import Counter

from catboost import CatBoostRegressor, cv, Pool
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from scipy.sparse import hstack
from sklearn.metrics import mean_absolute_error as mae

import matplotlib.pyplot as plt

pd.options.display.float_format = '{:,.2f}'.format

In [3]:
# Откроем файлы по неделям
def path_open(name, pth1, pth2):
    if os.path.exists(pth1):
        name = pd.read_csv(pth1)
    elif os.path.exists(pth2):
        name = pd.read_csv(pth2)
    else:
        print('Something is wrong')
        
path_open('wk1', 'log_week_end.csv', 
          'D:\IT\Hackatones\Skolkovo\data\log_week_end.csv'
         )
path_open('wk2', 'log_week_2_end.csv', 
          'D:\IT\Hackatones\Skolkovo\data\log_week_2_end.csv'
         )

wk1, wk2 = (
    pd.read_csv('D:\IT\Hackatones\Skolkovo\data\log_week_end.csv'),
    pd.read_csv('D:\IT\Hackatones\Skolkovo\data\log_week_2_end.csv')
)

wk1.info()
display(wk1.head(2))
print('---------------------------------')
wk2.info()
wk2.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641138 entries, 0 to 641137
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   rn       641138 non-null  int64
 1   loguser  641138 non-null  object
 2   query    641138 non-null  object
dtypes: int64(1), object(2)
memory usage: 14.7+ MB

     rn   loguser                            query
0  2530  etl_2048  from tbl_157224,join tbl_157223
1  5658  etl_2048  from tbl_195789,join tbl_195791

---------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630078 entries, 0 to 630077
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   rn        630078 non-null  int64
 1   loguser   630078 non-null  object
 2   query     630078 non-null  object
 3   duration  557929 non-null  object
dtypes: int64(1), object(3)
memory usage: 19.2+ MB

         rn  loguser            query               duration
0  16493642  etl_528  from tbl_111329   duration: 240.851 ms
1  12761109  etl_528  from tbl_127353  duration: 2165.935 ms

In [4]:
wk1.shape, wk2.shape

((641138, 3), (630078, 4))

## Высоконагруженные объекты
- большие по количеству

In [5]:
# Создадим функцию, которая выделит номера таблиц и посчитает количество запросов из столбца query
def table_counter(data:pd.Series):
  mylist = []
  data = data['query'].str.replace('[^0-9,]', '', regex=True).str.lower()
  data = data.str.split(',').to_list()

  for a in range(len(data)):
      for b in range (len(data[a])):
          mylist.append(data[a][b])
  return mylist

In [6]:
# Получим список
tables_list = table_counter(wk1) + table_counter(wk2)

In [7]:
# Подсчет количества повторений элементов в последовательности.
tables_cnt_dict = Counter(tables_list)

# Отсортируем по убыванию
tables_cnt_dict = sorted(tables_cnt_dict.items(), key=lambda x: x[1], reverse=True)
tables_cnt_dict

[('7207', 55626),
 ('11022', 55606),
 ('33595', 38653),
 ('33623', 33795),
 ('33570', 17160),
 ('27182', 14341),
 ('14714', 11623),
 ('20007', 11498),
 ('211513', 9602),
 ('33583', 7432),
 ('225891', 7347),
 ('20055', 6961),
 ('33569', 6866),
 ('12737', 6790),
 ('24696', 6719),
 ('27178', 6519),
 ('26976', 6424),
 ('9859', 6220),
 ('19156', 5124),
 ('26776', 4994),
 ('10108', 4969),
 ('10099', 4943),
 ('12551', 4820),
 ('8053', 4768),
 ('22189', 4365),
 ('258439', 4354),
 ('10303', 4247),
 ('19794', 4133),
 ('33185', 3990),
 ('20560', 3779),
 ('387011', 3670),
 ('15844', 3668),
 ('18550', 3618),
 ('19181', 3471),
 ('42632', 3463),
 ('29040', 3417),
 ('27350', 3328),
 ('19103', 3223),
 ('8577', 3218),
 ('29455', 3190),
 ('211512', 3159),
 ('178332', 3140),
 ('9012', 2987),
 ('26789', 2971),
 ('29188', 2903),
 ('260713', 2852),
 ('20381', 2850),
 ('26975', 2835),
 ('191495', 2824),
 ('26974', 2795),
 ('32599', 2794),
 ('33577', 2714),
 ('14638', 2659),
 ('19170', 2658),
 ('60734', 2656),
 ('211426', 2575),
 ('211425', 2530),
 ('33189', 2501),
 ('20716', 2471),
 ('15850', 2437),
 ('91953', 2409),
 ('29481', 2329),
 ('221024', 2285),
 ('289938', 2262),
 ('9864', 2261),
 ('29029', 2241),
 ('27667', 2222),
 ('92268', 2204),
 ('29495', 2203),
 ('29207', 2202),
 ('28670', 2169),
 ('27357', 2134),
 ('178401', 2129),
 ('60737', 2116),
 ('77056', 2112),
 ('183120', 2107),
 ('191913', 2104),
 ('178359', 2061),
 ('211522', 2049),
 ('211427', 2026),
 ('92776', 2004),
 ('33186', 1988),
 ('33184', 1983),
 ('191930', 1976),
 ('77247', 1974),
 ('29042', 1917),
 ('185505', 1889),
 ('29497', 1866),
 ('8912', 1836),
 ('92354', 1827),
 ('44933', 1792),
 ('77215', 1783),
 ('60744', 1781),
 ('379369', 1756),
 ('92210', 1719),
 ('178241', 1691),
 ('178430', 1686),
 ('186718', 1660),
 ('27892', 1656),
 ('7095', 1635),
 ('27346', 1594),
 ('29043', 1591),
 ('28170', 1584),
 ('9958', 1568),
 ('77236', 1564),
 ('92284', 1556),
 ('26980', 1549),
 ('26470', 1544),
 ('92278', 1542),
 ('77118', 1519),
 ('29461', 1510),
 ('33183', 1510),
 ('27356', 1504),
 ('28425', 1492),
 ('26783', 1490),
 ('248934', 1487),
 ('29458', 1480),
 ('26791', 1470),
 ('27483', 1468),
 ('29457', 1448),
 ('26784', 1448),
 ('26792', 1446),
 ('27486', 1444),
 ('27761', 1442),
 ('28675', 1418),
 ('28674', 1418),
 ('29884', 1408),
 ('211519', 1407),
 ('28436', 1394),
 ('182534', 1391),
 ('21189', 1368),
 ('28306', 1358),
 ('79847', 1339),
 ('92026', 1338),
 ('29962', 1326),
 ('92773', 1308),
 ('26778', 1308),
 ('189171', 1307),
 ('45248', 1307),
 ('27619', 1296),
 ('78824', 1295),
 ('80872', 1292),
 ('29485', 1284),
 ('32297', 1284),
 ('29486', 1282),
 ('77776', 1267),
 ('28032', 1265),
 ('9288', 1264),
 ('17446', 1258),
 ('40941', 1231),
 ('80178', 1231),
 ('93162', 1218),
 ('19177', 1217),
 ('179926', 1210),
 ('179923', 1209),
 ('79155', 1195),
 ('26786', 1180),
 ('81202', 1174),
 ('18362', 1165),
 ('92362', 1162),
 ('29415', 1152),
 ('78129', 1117),
 ('29953', 1116),
 ('88343', 1105),
 ('178398', 1095),
 ('14583', 1094),
 ('88011', 1093),
 ('7105', 1090),
 ('81894', 1083),
 ('29952', 1082),
 ('211548', 1075),
 ('290875', 1064),
 ('314195', 1043),
 ('82919', 1041),
 ('387012', 1040),
 ('290667', 1034),
 ('77209', 1031),
 ('83250', 1031),
 ('92019', 1031),
 ('92022', 1031),
 ('21279', 1029),
 ('29883', 1028),
 ('30983', 1027),
 ('211532', 1020),
 ('86987', 1016),
 ('44939', 1012),
 ('44937', 1008),
 ('44938', 1008),
 ('89035', 1006),
 ('90059', 1006),
 ('21906', 999),
 ('84967', 996),
 ('83943', 986),
 ('90390', 979),
 ('85298', 974),
 ('290693', 968),
 ('87319', 961),
 ('49236', 960),
 ('89366', 960),
 ('84275', 958),
 ('309410', 956),
 ('98405', 946),
 ('82226', 939),
 ('53098', 930),
 ('29882', 918),
 ('29876', 912),
 ('15826', 900),
 ('361854', 889),
 ('47306', 887),
 ('98262', 885),
 ('349223', 881),
 ('379370', 881),
 ('51167', 875),
 ('77121', 875),
 ('97040', 874),
 ('183552', 870),
 ('19154', 868),
 ('99771', 867),
 ('189548', 866),
 ('113256', 856),
 ('9851', 856),
 ('185973', 854),
 ('77279', 853),
 ('190260', 847),
 ('187190', 844),
 ('8430', 844),
 ('101148', 844),
 ('214656', 842),
 ('15882', 841),
 ('190628', 837),
 ('77357', 837),
 ('91895', 835),
 ('103719', 834),
 ('309412', 833),
 ('184762', 831),
 ('17744', 828),
 ('94238', 827),
 ('92269', 826),
 ('113397', 823),
 ('15095', 823),
 ('92028', 819),
 ('135720', 818),
 ('103860', 817),
 ('27666', 816),
 ('131277', 813),
 ('377151', 813),
 ('188447', 810),
 ('290849', 809),
 ('91994', 805),
 ('114617', 802),
 ('22190', 797),
 ('17695', 793),
 ('109173', 790),
 ('291734', 790),
 ('133498', 789),
 ('21574', 785),
 ('107813', 782),
 ('100993', 781),
 ('191490', 778),
 ('77308', 777),
 ('290954', 777),
 ('195553', 772),
 ('20649', 771),
 ('77311', 767),
 ('137946', 766),
 ('114768', 764),
 ('109314', 763),
 ('33332', 762),
 ('230190', 761),
 ('191219', 760),
 ('12554', 757),
 ('115989', 753),
 ('55030', 750),
 ('291838', 749),
 ('18900', 748),
 ('85919', 747),
 ('279388', 747),
 ('77363', 746),
 ('151312', 745),
 ('290745', 743),
 ('107954', 738),
 ('96898', 737),
 ('99629', 735),
 ('105079', 733),
 ('281143', 733),
 ('116131', 732),
 ('18822', 732),
 ('291759', 731),
 ('211312', 726),
 ('106440', 722),
 ('110533', 721),
 ('68547', 716),
 ('105221', 715),
 ('110675', 714),
 ('291005', 714),
 ('79612', 713),
 ('290979', 713),
 ('197634', 712),
 ('64685', 711),
 ('94115', 711),
 ('290641', 711),
 ('102498', 710),
 ('80221', 710),
 ('58891', 709),
 ('92117', 709),
 ('385661', 708),
 ('102356', 708),
 ('12167', 708),
 ('92176', 705),
 ('62754', 704),
 ('56961', 703),
 ('8522', 702),
 ('106593', 700),
 ('79197', 699),
 ('66617', 699),
 ('92181', 699),
 ('19114', 699),
 ('211534', 699),
 ('142418', 698),
 ('111895', 697),
 ('27177', 692),
 ('60823', 690),
 ('112036', 690),
 ('291811', 689),
 ('81245', 688),
 ('78590', 686),
 ('77540', 684),
 ('10721', 682),
 ('80636', 681),
 ('78171', 677),
 ('194852', 677),
 ('290252', 673),
 ('77316', 670),
 ('131137', 668),
 ('146875', 668),
 ('77314', 667),
 ('178422', 666),
 ('96488', 664),
 ('29696', 662),
 ('289937', 662),
 ('86292', 661),
 ('144649', 657),
 ('341762', 657),
 ('211533', 657),
 ('140160', 656),
 ('29198', 650),
 ('21474', 650),
 ('21654', 648),
 ('290928', 648),
 ('92273', 646),
 ('149109', 644),
 ('364348', 642),
 ('231143', 634),
 ('9603', 633),
 ('9665', 632),
 ('330428', 632),
 ('85968', 630),
 ('81661', 630),
 ('82267', 628),
 ('49045', 627),
 ('361734', 627),
 ('15118', 622),
 ('87777', 622),
 ('28437', 620),
 ('290720', 617),
 ('9968', 616),
 ('92207', 616),
 ('178294', 615),
 ('290771', 615),
 ('290824', 615),
 ('163302', 614),
 ('211310', 614),
 ('338718', 614),
 ('384720', 613),
 ('82685', 611),
 ('92358', 610),
 ('89824', 609),
 ('9989', 609),
 ('14716', 606),
 ('33616', 606),
 ('10115', 605),
 ('83292', 604),
 ('86753', 603),
 ('39477', 602),
 ('20894', 602),
 ('51165', 601),
 ('88384', 600),
 ('19094', 599),
 ('10082', 598),
 ('193575', 597),
 ('39485', 595),
 ('52906', 591),
 ('84733', 591),
 ('361815', 591),
 ('8257', 590),
 ('178351', 590),
 ('161318', 589),
 ('83707', 587),
 ('113325', 585),
 ('47113', 585),
 ('88801', 585),
 ('21326', 584),
 ('38111', 582),
 ('23770', 582),
 ('90433', 580),
 ('17612', 580),
 ('17541', 580),
 ('85340', 579),
 ('165280', 578),
 ('178438', 575),
 ('291889', 575),
 ('87361', 573),
 ('89408', 571),
 ('50975', 567),
 ('21396', 567),
 ('291291', 567),
 ('255895', 566),
 ('135579', 565),
 ('137734', 565),
 ('44880', 562),
 ('44883', 562),
 ('84317', 560),
 ('44885', 560),
 ('44882', 560),
 ('211186', 558),
 ('25826', 555),
 ('291083', 553),
 ('77218', 551),
 ('27236', 551),
 ('135507', 550),
 ('291863', 550),
 ('212293', 548),
 ('133354', 547),
 ('7094', 545),
 ('103787', 543),
 ('119994', 540),
 ('240447', 540),
 ('290278', 540),
 ('291421', 540),
 ('184293', 536),
 ('11755', 533),
 ('167255', 532),
 ('33599', 531),
 ('321372', 531),
 ('51084', 530),
 ('11620', 530),
 ('11665', 530),
 ('133284', 528),
 ('126080', 527),
 ('114687', 526),
 ('126733', 526),
 ('101065', 526),
 ('86351', 525),
 ('96968', 525),
 ('91996', 523),
 ('339682', 522),
 ('92391', 521),
 ('77071', 520),
 ('291058', 520),
 ('23772', 519),
 ('248933', 518),
 ('120634', 515),
 ('98332', 513),
 ('291526', 513),
 ('290537', 512),
 ('197441', 512),
 ('44928', 507),
 ('44922', 506),
 ('99699', 505),
 ('33190', 504),
 ('109244', 503),
 ('169222', 501),
 ('98403', 501),
 ('120123', 501),
 ('113394', 500),
 ('10114', 499),
 ('251291', 499),
 ('255896', 497),
 ('191910', 497),
 ('94146', 495),
 ('388461', 495),
 ('388460', 495),
 ('171201', 494),
 ('173134', 494),
 ('109313', 494),
 ('21905', 494),
 ('21898', 494),
 ('54836', 492),
 ('178369', 491),
 ('290590', 490),
 ('290901', 489),
 ('361934', 489),
 ('290407', 489),
 ('93156', 488),
 ('116059', 487),
 ('151364', 486),
 ('114767', 485),
 ('131065', 484),
 ('291629', 484),
 ('380498', 484),
 ('92287', 484),
 ('291603', 484),
 ('126221', 484),
 ('340663', 481),
 ('178381', 480),
 ('182528', 480),
 ('107882', 479),
 ('92001', 479),
 ('86243', 478),
 ('68355', 478),
 ('223001', 476),
 ('105148', 474),
 ('103857', 474),
 ('110604', 473),
 ('290382', 472),
 ('290564', 472),
 ('92191', 472),
 ('290460', 472),
 ('291552', 471),
 ('291578', 470),
 ('101145', 470),
 ('142203', 469),
 ('291707', 469),
 ('107951', 469),
 ('289940', 469),
 ('50342', 468),
 ('290226', 468),
 ('253947', 468),
 ('64494', 467),
 ('94270', 467),
 ('295035', 467),
 ('58700', 467),
 ('116129', 463),
 ('254928', 463),
 ('92083', 463),
 ('173463', 460),
 ('14579', 460),
 ('97039', 459),
 ('238482', 459),
 ('146662', 459),
 ('102427', 458),
 ('291500', 457),
 ('99770', 456),
 ('291447', 456),
 ('325408', 456),
 ('106511', 456),
 ('62562', 455),
 ('117089', 455),
 ('8894', 455),
 ('79886', 453),
 ('110672', 452),
 ('290355', 452),
 ('60630', 451),
 ('88391', 451),
 ('66424', 451),
 ('26978', 451),
 ('163136', 450),
 ('56769', 450),
 ('17821', 450),
 ('21487', 449),
 ('111964', 449),
 ('27721', 448),
 ('211282', 448),
 ('26790', 448),
 ('80909', 447),
 ('28841', 446),
 ('139948', 444),
 ('105218', 444),
 ('102495', 444),
 ('29028', 444),
 ('29480', 444),
 ('27694', 442),
 ('291473', 442),
 ('86341', 441),
 ('106590', 441),
 ('78862', 440),
 ('290329', 440),
 ('77408', 439),
 ('87962', 438),
 ('144435', 437),
 ('19179', 437),
 ('92371', 437),
 ('148896', 435),
 ('191382', 435),
 ('112033', 435),
 ('92820', 432),
 ('92390', 431),
 ('178315', 431),
 ('92368', 431),
 ('92369', 431),
 ('92373', 431),
 ('92375', 431),
 ('79798', 430),
 ('290303', 430),
 ('18637', 429),
 ('18780', 429),
 ('18796', 429),
 ('20795', 429),
 ('20811', 429),
 ('161161', 428),
 ('291785', 428),
 ('192108', 427),
 ('225890', 426),
 ('92356', 424),
 ('87802', 423),
 ('142414', 422),
 ('141837', 421),
 ('378278', 421),
 ('140657', 421),
 ('92204', 419),
 ('92257', 419),
 ('92386', 419),
 ('289965', 418),
 ('152291', 418),
 ('50459', 418),
 ('85734', 418),
 ('15697', 418),
 ('290511', 418),
 ('50665', 417),
 ('290200', 417),
 ('53020', 416),
 ('77833', 415),
 ('49757', 415),
 ('178345', 413),
 ('49714', 412),
 ('51204', 412),
 ('49233', 412),
 ('290434', 412),
 ('187950', 410),
 ('51197', 409),
 ('116956', 409),
 ('19091', 409),
 ('137805', 408),
 ('26937', 408),
 ('78775', 408),
 ('26938', 408),
 ('291396', 408),
 ('51199', 407),
 ('35662', 406),
 ('178701', 404),
 ('19165', 404),
 ('290121', 402),
 ('109233', 402),
 ('29030', 402),
 ('82869', 401),
 ('146258', 401),
 ('135816', 401),
 ('290147', 401),
 ('131130', 401),
 ('114676', 400),
 ('49158', 400),
 ('151847', 399),
 ('77353', 398),
 ('90010', 397),
 ('47227', 397),
 ('28843', 396),
 ('16073', 396),
 ('133592', 396),
 ('201493', 395),
 ('80823', 395),
 ('151098', 395),
 ('113316', 394),
 ('49753', 394),
 ('309411', 394),
 ('87797', 393),
 ('118615', 393),
 ('19090', 392),
 ('8128', 392),
 ('12340', 392),
 ('17682', 392),
 ('211242', 392),
 ('14712', 392),
 ('10378', 392),
 ('17611', 392),
 ('12240', 392),
 ('290797', 392),
 ('165112', 391),
 ('117484', 391),
 ('53095', 391),
 ('163192', 390),
 ('211283', 390),
 ('51201', 389),
 ('79638', 388),
 ('58888', 388),
 ('86938', 388),
 ('135574', 387),
 ('373578', 387),
 ('11901', 387),
 ('117851', 386),
 ('122159', 385),
 ('195551', 385),
 ('47302', 385),
 ('77727', 385),
 ('50667', 384),
 ('116048', 384),
 ('290017', 384),
 ('88049', 384),
 ('124470', 384),
 ('290174', 384),
 ('289992', 384),
 ('191775', 383),
 ('344481', 383),
 ('126618', 382),
 ('124355', 382),
 ('161218', 381),
 ('122043', 381),
 ('51090', 381),
 ('83894', 381),
 ('201568', 380),
 ('122934', 380),
 ('88985', 380),
 ('84918', 380),
 ('107873', 379),
 ('101054', 379),
 ('68544', 379),
 ('11638', 379),
 ('80227', 378),
 ('81846', 377),
 ('32446', 377),
 ('291370', 377),
 ('169053', 376),
 ('110594', 376),
 ('29484', 376),
 ('125243', 376),
 ('371154', 375),
 ('302996', 375),
 ('133349', 374),
 ('117599', 374),
 ('121396', 374),
 ('118361', 374),
 ('127494', 374),
 ('151403', 373),
 ('167087', 373),
 ('117128', 373),
 ('53010', 373),
 ('122807', 373),
 ('118472', 373),
 ('96959', 373),
 ('51230', 372),
 ('119126', 372),
 ('119885', 372),
 ('125971', 372),
 ('127380', 372),
 ('103778', 371),
 ('82709', 371),
 ('92478', 371),
 ('123581', 371),
 ('120518', 370),
 ('123708', 370),
 ('125116', 370),
 ('79633', 369),
 ('280869', 369),
 ('163301', 369),
 ('68459', 369),
 ('116719', 369),
 ('118246', 369),
 ('119757', 369),
 ('81933', 369),
 ('171031', 368),
 ('116848', 368),
 ('125880', 368),
 ('121280', 368),
 ('119008', 368),
 ('98323', 367),
 ('171198', 367),
 ('82957', 367),
 ('88386', 367),
 ('58804', 367),
 ('112847', 366),
 ('78614', 366),
 ('64683', 366),
 ('386244', 366),
 ('66614', 366),
 ('80234', 365),
 ('80661', 365),
 ('92854', 365),
 ('49752', 364),
 ('83298', 364),
 ('158576', 364),
 ('173130', 363),
 ('201508', 363),
 ('169219', 363),
 ('165167', 362),
 ('99688', 362),
 ('344482', 362),
 ('92414', 362),
 ('84758', 361),
 ('211861', 361),
 ('165276', 360),
 ('167143', 359),
 ('46199', 359),
 ('82273', 359),
 ('50074', 359),
 ('80342', 359),
 ('49149', 359),
 ('172977', 358),
 ('89849', 358),
 ('78178', 358),
 ('50439', 358),
 ('111955', 358),
 ('86340', 357),
 ('90439', 357),
 ('311803', 357),
 ('112695', 357),
 ('377150', 357),
 ('102416', 357),
 ('123959', 357),
 ('27476', 356),
 ('51085', 356),
 ('126984', 355),
 ('56958', 355),
 ('85004', 355),
 ('106500', 355),
 ('51097', 354),
 ('50065', 354),
 ('122411', 354),
 ('88826', 354),
 ('29459', 354),
 ('87026', 354),
 ('81365', 354),
 ('194023', 353),
 ('108765', 353),
 ('386901', 353),
 ('60819', 352),
 ('123184', 352),
 ('29031', 352),
 ('29032', 352),
 ('67495', 352),
 ('52046', 352),
 ('90097', 352),
 ('29460', 352),
 ('87366', 352),
 ('117710', 351),
 ('89073', 351),
 ('79203', 351),
 ('81251', 351),
 ('290070', 350),
 ('82706', 350),
 ('49152', 350),
 ('10786', 350),
 ('17278', 350),
 ('68470', 350),
 ('290044', 349),
 ('50455', 349),
 ('105138', 349),
 ('83733', 349),
 ('290095', 349),
 ('178284', 348),
 ('169111', 347),
 ('62752', 347),
 ('55025', 347),
 ('47217', 347),
 ('116193', 347),
 ('121649', 347),
 ('199828', 347),
 ('85461', 347),
 ('66528', 347),
 ('88505', 347),
 ('103308', 347),
 ('112628', 346),
 ('120886', 345),
 ('57839', 345),
 ('90553', 345),
 ('87482', 345),
 ('291318', 345),
 ('78610', 344),
 ('79211', 344),
 ('49756', 344),
 ('50659', 344),
 ('291343', 344),
 ('86777', 344),
 ('79317', 344),
 ('83980', 343),
 ('197547', 343),
 ('199822', 343),
 ('84437', 343),
 ('77566', 342),
 ('64598', 342),
 ('84754', 342),
 ('11201', 342),
 ('84323', 341),
 ('161316', 341),
 ('124721', 341),
 ('89529', 341),
 ('211153', 340),
 ('46251', 340),
 ('83412', 340),
 ('14845', 339),
 ('127023', 339),
 ('85346', 339),
 ('167252', 339),
 ('78295', 339),
 ('82389', 339),
 ('58813', 338),
 ('54942', 338),
 ('80658', 338),
 ('173033', 337),
 ('51079', 337),
 ('194291', 337),
 ('85751', 337),
 ('135570', 336),
 ('211123', 336),
 ('88822', 336),
 ('182760', 336),
 ('183942', 336),
 ('185152', 336),
 ('186362', 336),
 ('187591', 336),
 ('188816', 336),
 ('189906', 336),
 ('191146', 336),
 ('379335', 335),
 ('196580', 335),
 ('56873', 335),
 ('89413', 335),
 ('91916', 335),
 ('211279', 334),
 ('91924', 333),
 ('83729', 333),
 ('66538', 333),
 ('197556', 333),
 ('81685', 333),
 ('62666', 332),
 ('103158', 332),
 ('123828', 332),
 ('185529', 332),
 ('92627', 332),
 ('114208', 332),
 ('29039', 332),
 ('123224', 331),
 ('115581', 331),
 ('97851', 331),
 ('119366', 331),
 ('65564', 331),
 ('126841', 330),
 ('121508', 330),
 ('123997', 330),
 ('171089', 329),
 ('89845', 329),
 ('363373', 329),
 ('48184', 329),
 ('101949', 329),
 ('81259', 328),
 ('83306', 328),
 ('54950', 328),
 ('88399', 328),
 ('86774', 328),
 ('100584', 328),
 ('125484', 328),
 ('142457', 327),
 ('142461', 327),
 ('99217', 327),
 ('291266', 327),
 ('133347', 326),
 ('110125', 326),
 ('78187', 326),
 ('120163', 326),
 ('199817', 326),
 ('123053', 325),
 ('122271', 325),
 ('131127', 325),
 ('107405', 325),
 ('64608', 324),
 ('187161', 324),
 ('53014', 324),
 ('33923', 324),
 ('77561', 322),
 ('120755', 322),
 ('193686', 322),
 ('118652', 322),
 ('180624', 322),
 ('284287', 321),
 ('103088', 321),
 ('152368', 321),
 ('53976', 321),
 ('50115', 320),
 ('63633', 320),
 ('79769', 320),
 ('146872', 320),
 ('11883', 320),
 ('11892', 320),
 ('173572', 319),
 ('178281', 319),
 ('61701', 319),
 ('92419', 319),
 ('112844', 318),
 ('80128', 318),
 ('59769', 318),
 ('55907', 318),
 ('188718', 318),
 ('122451', 317),
 ('121687', 317),
 ('80171', 317),
 ('191974', 316),
 ('280910', 316),
 ('135719', 316),
 ('62677', 316),
 ('142274', 315),
 ('92306', 315),
 ('56882', 315),
 ...]

## Тяжелые объекты
- большие по длительности

In [8]:
# Вытащили цифры длительности
wk2['time_target'] = wk2['duration'].str.replace('[^0-9.]', '', regex=True).astype('float')

# Вытащили номера таблиц
wk2['tables'] = wk2['query'].str.replace('[^0-9,]', '', regex=True).str.lower()

# Разделили списки таблиц по запятой, посчитали
wk2['tables_count'] = wk2['tables'].str.split(',').apply(len)

# выдает False когда есть пропуск
tables_time = wk2[wk2['time_target'].notna()]
tables_time.info()
tables_time.head(2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 557929 entries, 0 to 630077
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   rn            557929 non-null  int64
 1   loguser       557929 non-null  object
 2   query         557929 non-null  object
 3   duration      557929 non-null  object
 4   time_target   557929 non-null  float64
 5   tables        557929 non-null  object
 6   tables_count  557929 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 34.1+ MB

,rn,loguser,query,duration,time_target,tables,tables_count
0,16493642,etl_528,from tbl_111329,duration: 240.851 ms,240.85,111329,1
1,12761109,etl_528,from tbl_127353,duration: 2165.935 ms,"2,165.93",127353,1

In [9]:
tables_time = (
    tables_time
    .groupby('tables')['time_target']
    .median()
    .reset_index()
)
tables_time.sample(3)

                     tables  time_target
39185                 94275     2,185.31
31459                 63579        54.92
1189   104500,104500,104499       214.70

In [10]:
# Возьмем таблицы с большой длительностью
tables_time = tables_time.loc[tables_time['tables'].str.split(',').apply(len) == 1]
tables_time['time_target'] = tables_time['time_target'].astype('int')
tables_time = tables_time.sort_values('time_target', ascending=False)
tables_time.head(3)

       tables  time_target
9142    14996     11219406
28929  308121      4690881
26610  281142      2473347

In [11]:
# Создадим словарь: номер таблицы и время в мс
tables_time_dict = tables_time.set_index('tables')['time_target'].to_dict()
tables_time_dict

{'14996': 11219406,
 '308121': 4690881,
 '281142': 2473347,
 '309364': 2159433,
 '305654': 1718636,
 '230191': 874169,
 '188049': 738126,
 '173857': 718979,
 '308374': 622265,
 '92506': 584563,
 '235832': 552227,
 '22880': 459657,
 '8912': 443438,
 '77369': 434026,
 '235012': 400647,
 '184521': 312010,
 '193385': 300450,
 '294878': 289875,
 '92705': 272516,
 '229684': 269403,
 '345672': 240644,
 '203622': 206772,
 '203615': 206496,
 '203628': 205968,
 '203634': 205916,
 '203608': 205808,
 '203612': 205537,
 '203631': 205418,
 '195070': 201968,
 '240262': 193120,
 '34932': 179901,
 '259460': 177328,
 '184921': 172139,
 '157330': 165376,
 '234343': 163653,
 '93862': 152121,
 '158031': 148601,
 '229683': 145985,
 '381023': 144431,
 '239484': 143762,
 '193436': 132216,
 '92674': 130918,
 '20065': 126932,
 '268635': 123500,
 '185104': 119347,
 '183714': 116693,
 '268987': 112561,
 '199870': 107486,
 '20396': 106794,
 '157844': 106297,
 '229937': 104353,
 '71000': 102973,
 '157616': 98010,
 '153498': 96773,
 '157617': 94951,
 '127920': 94944,
 '33623': 94827,
 '225891': 93559,
 '128786': 93509,
 '188948': 93102,
 '184990': 92568,
 '268656': 91019,
 '69122': 90270,
 '201437': 89093,
 '128814': 87830,
 '204066': 87695,
 '191739': 86728,
 '128940': 86469,
 '152848': 86020,
 '128784': 84844,
 '157962': 84524,
 '38084': 83749,
 '184069': 82020,
 '74111': 80523,
 '175470': 80352,
 '156639': 78449,
 '179417': 77834,
 '183782': 75796,
 '259785': 75105,
 '186201': 74400,
 '183640': 72829,
 '187417': 72236,
 '183809': 72011,
 '9114': 71382,
 '184989': 71116,
 '330428': 70847,
 '154910': 69197,
 '179711': 69059,
 '76002': 67701,
 '191375': 67062,
 '191710': 66635,
 '157866': 66500,
 '179337': 66455,
 '158061': 66450,
 '268942': 65913,
 '206282': 64540,
 '191258': 64104,
 '158107': 63802,
 '128820': 63635,
 '206308': 63595,
 '157550': 63335,
 '186132': 63259,
 '157882': 62932,
 '16510': 62593,
 '175387': 61618,
 '128815': 61223,
 '157849': 61195,
 '192990': 59462,
 '183562': 58519,
 '128739': 57832,
 '179394': 56951,
 '199850': 56596,
 '12457': 55479,
 '199876': 55262,
 '128091': 53302,
 '73486': 52804,
 '72862': 52332,
 '6950': 52264,
 '184657': 51500,
 '328055': 50610,
 '175434': 50211,
 '201508': 50101,
 '175497': 49945,
 '328053': 49924,
 '174735': 49798,
 '260713': 49726,
 '72236': 49493,
 '183434': 49326,
 '74747': 49268,
 '128849': 49013,
 '184013': 48405,
 '183940': 48093,
 '188675': 47967,
 '194358': 47231,
 '328057': 46840,
 '365246': 45940,
 '185061': 45930,
 '229574': 45887,
 '179255': 45498,
 '179834': 45421,
 '9368': 45188,
 '29884': 44731,
 '179461': 44521,
 '200576': 44216,
 '88822': 44086,
 '128090': 44040,
 '331238': 43719,
 '179346': 43592,
 '338568': 43430,
 '157546': 43423,
 '157839': 43298,
 '259562': 43254,
 '188932': 43117,
 '129026': 42889,
 '230154': 42818,
 '185279': 41985,
 '209425': 41947,
 '188931': 41832,
 '152136': 41705,
 '183523': 41202,
 '278934': 40969,
 '191672': 40113,
 '194362': 39934,
 '9012': 39848,
 '184053': 39194,
 '185263': 38981,
 '202722': 38721,
 '212291': 38246,
 '153555': 38024,
 '157545': 37826,
 '153633': 37802,
 '153550': 37680,
 '153494': 37568,
 '128736': 37508,
 '157256': 37267,
 '153549': 36751,
 '152568': 36472,
 '128982': 36323,
 '153516': 35862,
 '294647': 35824,
 '178359': 35312,
 '192240': 35191,
 '6954': 35035,
 '70373': 34924,
 '185019': 34686,
 '183935': 34448,
 '194850': 34415,
 '295035': 34316,
 '76844': 34255,
 '191380': 34115,
 '153601': 34015,
 '327797': 33740,
 '268748': 33455,
 '191945': 33322,
 '75378': 32842,
 '223001': 32795,
 '193426': 32570,
 '193429': 32305,
 '153495': 32152,
 '191711': 32138,
 '269122': 31681,
 '269016': 31417,
 '201463': 31277,
 '69748': 31261,
 '20055': 30727,
 '280667': 30702,
 '268985': 30481,
 '180246': 30391,
 '186229': 30387,
 '193443': 30276,
 '199885': 30100,
 '110731': 30024,
 '24769': 29848,
 '179629': 29548,
 '20443': 28961,
 '125890': 28921,
 '195100': 28815,
 '248933': 28670,
 '19181': 28565,
 '198166': 28400,
 '268958': 28113,
 '179835': 28080,
 '179564': 28021,
 '305692': 27959,
 '179569': 27863,
 '179355': 27739,
 '179747': 27729,
 '119770': 27631,
 '46992': 27469,
 '77656': 26931,
 '69872': 26735,
 '76414': 26716,
 '204': 26665,
 '128085': 26293,
 '377151': 26163,
 '186490': 26019,
 '199865': 25965,
 '119020': 25709,
 '157615': 25516,
 '203619': 25467,
 '269083': 25433,
 '18152': 25011,
 '20676': 24897,
 '207617': 24558,
 '196862': 24554,
 '179746': 24319,
 '191957': 24095,
 '373646': 24087,
 '85354': 24075,
 '10851': 24038,
 '185676': 23925,
 '92627': 23921,
 '387030': 23861,
 '153682': 23842,
 '259786': 23831,
 '234562': 23728,
 '153679': 23690,
 '193973': 23651,
 '202668': 23548,
 '229646': 23361,
 '187706': 23299,
 '191259': 23246,
 '122817': 23206,
 '194176': 23186,
 '280670': 23057,
 '118257': 22906,
 '151681': 22803,
 '280869': 22634,
 '8557': 22558,
 '101884': 22440,
 '185264': 22398,
 '20980': 22319,
 '128991': 22305,
 '192239': 22297,
 '179908': 22127,
 '11115': 22078,
 '125126': 21928,
 '33486': 21918,
 '234346': 21856,
 '122056': 21841,
 '179466': 21612,
 '278496': 21588,
 '184774': 21490,
 '58120': 21461,
 '179376': 21408,
 '179943': 21327,
 '157871': 21325,
 '60051': 21316,
 '179488': 21304,
 '196464': 21289,
 '179503': 21272,
 '179379': 21230,
 '91164': 21205,
 '179370': 21198,
 '92143': 21196,
 '187722': 20831,
 '188608': 20817,
 '175548': 20814,
 '140256': 20744,
 '209089': 20673,
 '180385': 20576,
 '184268': 20566,
 '71610': 20508,
 '137358': 20356,
 '376064': 20273,
 '328051': 20230,
 '189774': 20208,
 '195793': 19957,
 '60238': 19809,
 '197050': 19701,
 '157619': 19616,
 '76706': 19518,
 '268633': 19485,
 '30811': 19420,
 '11119': 19374,
 '84070': 19372,
 '365248': 19371,
 '8558': 19329,
 '184054': 19233,
 '1032': 19219,
 '60423': 19182,
 '180624': 19156,
 '128850': 19149,
 '179709': 18926,
 '200882': 18851,
 '116731': 18850,
 '203633': 18798,
 '56375': 18797,
 '182891': 18743,
 '180412': 18725,
 '84330': 18685,
 '179382': 18580,
 '190036': 18553,
 '64100': 18537,
 '17932': 18513,
 '30778': 18490,
 '132481': 18405,
 '88399': 18291,
 '128734': 18290,
 '203630': 18156,
 '70631': 18018,
 '67377': 18018,
 '127391': 18013,
 '157881': 18011,
 '185281': 17999,
 '46134': 17962,
 '33570': 17924,
 '71801': 17889,
 '94115': 17889,
 '178875': 17742,
 '179161': 17672,
 '181062': 17587,
 '103902': 17559,
 '11284': 17537,
 '187458': 17509,
 '91507': 17439,
 '62169': 17431,
 '86214': 17369,
 '50767': 17368,
 '229611': 17368,
 '153500': 17245,
 '67963': 17185,
 '260402': 17079,
 '384172': 17059,
 '184293': 16885,
 '84196': 16874,
 '153585': 16778,
 '259613': 16746,
 '155475': 16735,
 '203621': 16731,
 '3433': 16689,
 '184767': 16626,
 '128785': 16590,
 '85017': 16531,
 '179568': 16506,
 '18123': 16436,
 '158460': 16409,
 '88265': 16407,
 '123762': 16400,
 '67777': 16345,
 '238482': 16324,
 '48465': 16280,
 '117494': 16270,
 '48743': 16176,
 '183564': 16111,
 '155901': 16106,
 '46689': 16080,
 '126628': 16032,
 '114144': 16032,
 '101746': 15976,
 '280709': 15970,
 '61983': 15959,
 '113038': 15947,
 '204050': 15910,
 '154949': 15847,
 '46810': 15742,
 '7328': 15701,
 '8553': 15664,
 '178247': 15641,
 '280750': 15637,
 '230915': 15631,
 '379369': 15566,
 '14229': 15560,
 '186271': 15525,
 '141407': 15520,
 '269020': 15440,
 '154703': 15429,
 '83306': 15321,
 '120529': 15317,
 '74366': 15288,
 '130701': 15259,
 '154681': 15241,
 '380498': 15218,
 '154787': 15182,
 '47331': 15139,
 '154233': 15130,
 '93210': 15112,
 '94044': 15111,
 '79077': 15110,
 '183029': 15096,
 '52326': 15064,
 '86589': 15056,
 '69311': 15038,
 '10473': 15016,
 '64192': 14953,
 '46019': 14922,
 '154439': 14920,
 '154879': 14886,
 '62354': 14864,
 '77775': 14831,
 '155537': 14817,
 '110061': 14796,
 '154369': 14769,
 '85095': 14753,
 '79865': 14753,
 '17919': 14725,
 '99342': 14724,
 '46534': 14680,
 '154368': 14679,
 '154680': 14677,
 '154924': 14667,
 '229756': 14660,
 '154440': 14632,
 '179338': 14601,
 '77245': 14554,
 '87374': 14542,
 '115515': 14530,
 '132870': 14469,
 '8554': 14460,
 '209643': 14420,
 '85219': 14393,
 '60329': 14378,
 '189708': 14332,
 '99152': 14289,
 '192014': 14246,
 '79799': 14242,
 '72910': 14235,
 '153493': 14166,
 '48651': 14139,
 '56467': 14128,
 '156275': 14064,
 '54259': 14062,
 '192568': 14036,
 '8577': 13992,
 '153638': 13988,
 '56190': 13921,
 '88140': 13859,
 '154912': 13833,
 '99314': 13815,
 '349180': 13793,
 '211508': 13736,
 '9095': 13623,
 '180274': 13611,
 '180504': 13583,
 '63915': 13556,
 '280829': 13543,
 '163401': 13489,
 '190788': 13484,
 '66031': 13452,
 '103910': 13419,
 '181132': 13416,
 '133306': 13345,
 '130662': 13336,
 '50397': 13326,
 '115677': 13319,
 '280910': 13319,
 '80214': 13317,
 '308519': 13306,
 '229398': 13289,
 '127551': 13278,
 '50583': 13256,
 '69794': 13251,
 '137437': 13245,
 '179435': 13227,
 '128938': 13192,
 '129027': 13191,
 '79449': 13144,
 '180219': 13118,
 '187349': 13116,
 '195433': 13114,
 '62261': 13110,
 '194515': 13102,
 '338637': 13053,
 '184467': 13044,
 '365247': 13013,
 '188149': 13010,
 '156600': 12986,
 '123591': 12974,
 '48836': 12924,
 '131087': 12922,
 '209222': 12899,
 '179397': 12882,
 '157401': 12880,
 '194441': 12846,
 '152255': 12827,
 '135222': 12825,
 '142226': 12819,
 '8924': 12805,
 '179364': 12799,
 '144033': 12786,
 '234598': 12771,
 '179385': 12770,
 '46352': 12706,
 '130275': 12687,
 '69379': 12685,
 '141798': 12641,
 '105968': 12604,
 '8551': 12603,
 '14841': 12533,
 '135144': 12531,
 '104605': 12513,
 '51927': 12502,
 '49167': 12499,
 '189171': 12489,
 '22292': 12473,
 '93919': 12471,
 '8559': 12468,
 '128086': 12466,
 '201567': 12416,
 '373580': 12412,
 '190855': 12391,
 '58398': 12390,
 '17283': 12360,
 '194368': 12339,
 '183120': 12304,
 '120759': 12286,
 '83544': 12278,
 '152687': 12263,
 '68054': 12248,
 '66217': 12242,
 '56561': 12242,
 '203661': 12194,
 '73742': 12191,
 '96410': 12174,
 '184071': 12167,
 '44897': 12129,
 '268719': 12124,
 '182733': 12087,
 '75864': 12073,
 '192346': 12066,
 '180336': 12053,
 '330933': 12036,
 '186475': 11991,
 '186892': 11961,
 '54898': 11960,
 '49105': 11940,
 '188453': 11936,
 '139582': 11931,
 '75013': 11922,
 '19234': 11905,
 '188456': 11850,
 '160619': 11841,
 '139156': 11806,
 '135266': 11757,
 '195113': 11755,
 '93401': 11630,
 '145870': 11606,
 '91349': 11595,
 '120924': 11548,
 '65846': 11526,
 '132908': 11524,
 '124365': 11504,
 '194197': 11488,
 '141962': 11462,
 '151811': 11454,
 '206520': 11406,
 '148655': 11353,
 '211534': 11343,
 '9021': 11339,
 '69091': 11337,
 '229721': 11328,
 '8555': 11300,
 '185505': 11283,
 '126945': 11247,
 '146296': 11191,
 '56830': 11179,
 '203610': 11175,
 '195410': 11114,
 '94248': 11107,
 '142069': 11105,
 '103900': 11101,
 '379335': 11090,
 '13824': 11077,
 '100520': 11065,
 '20062': 11045,
 '112783': 11026,
 '193765': 11012,
 '56344': 11010,
 '110732': 11004,
 '58760': 10994,
 '137320': 10989,
 '110557': 10974,
 '93738': 10972,
 '89288': 10962,
 '183639': 10959,
 '264510': 10951,
 '200538': 10946,
 '191854': 10902,
 '158374': 10889,
 '8556': 10865,
 '344481': 10831,
 '178430': 10825,
 '123224': 10803,
 '178140': 10791,
 '71175': 10723,
 '54534': 10684,
 '58274': 10676,
 '231143': 10675,
 '64617': 10670,
 '180302': 10667,
 '129529': 10639,
 '130931': 10617,
 '203627': 10581,
 '58492': 10575,
 '69717': 10573,
 '269719': 10566,
 '87613': 10562,
 '268750': 10558,
 '268783': 10555,
 '198139': 10527,
 '79854': 10515,
 '134718': 10511,
 '191376': 10510,
 '308164': 10481,
 '181006': 10476,
 '30790': 10465,
 '268934': 10430,
 '153637': 10371,
 '130779': 10362,
 '194843': 10360,
 '203614': 10331,
 '72425': 10318,
 '188050': 10306,
 '202918': 10301,
 '136933': 10299,
 '153554': 10228,
 '230420': 10227,
 '73533': 10217,
 '194541': 10157,
 '192015': 10157,
 '159475': 10145,
 '67930': 10129,
 '183183': 10118,
 '18365': 10086,
 '179491': 10077,
 '201502': 10063,
 '137601': 10040,
 '179157': 10022,
 '72831': 10019,
 '172615': 10011,
 '68478': 9993,
 '187047': 9976,
 '7205': 9966,
 '194361': 9952,
 '66000': 9950,
 '93832': 9949,
 '73116': 9945,
 '158521': 9942,
 '177866': 9939,
 '268940': 9919,
 '46721': 9899,
 '64286': 9896,
 '179959': 9882,
 '186473': 9872,
 '184243': 9862,
 '34923': 9858,
 '259588': 9857,
 '99709': 9854,
 '363056': 9843,
 '128729': 9833,
 '68686': 9826,
 '184621': 9816,
 '123057': 9812,
 '187500': 9809,
 '268654': 9807,
 '194355': 9801,
 '197233': 9801,
 '74298': 9794,
 '193769': 9783,
 '79882': 9779,
 '268756': 9769,
 '121359': 9743,
 '126985': 9723,
 '130824': 9711,
 '66123': 9680,
 '66548': 9673,
 '191499': 9657,
 '91327': 9657,
 '45982': 9656,
 '191287': 9642,
 '129060': 9636,
 '121293': 9629,
 '70863': 9579,
 '180979': 9562,
 '179401': 9555,
 '180662': 9550,
 '184207': 9534,
 '314196': 9534,
 '91092': 9528,
 '120858': 9516,
 '85592': 9485,
 '83123': 9481,
 '8560': 9480,
 '184772': 9476,
 '178398': 9469,
 '144071': 9464,
 '153647': 9454,
 '179477': 9447,
 '199854': 9426,
 '197806': 9399,
 '143645': 9379,
 '52698': 9375,
 '87241': 9345,
 '111422': 9321,
 '153684': 9294,
 '17821': 9278,
 '139706': 9277,
 '64068': 9242,
 '144194': 9242,
 '76672': 9239,
 '309077': 9220,
 '166512': 9203,
 '92561': 9182,
 '269056': 9174,
 '8536': 9167,
 '191620': 9102,
 '179911': 9097,
 '191737': 9087,
 '84569': 9071,
 '179156': 9067,
 '77502': 9055,
 '17926': 9038,
 '108701': 9033,
 '148095': 9033,
 '203731': 9033,
 '268754': 9019,
 '191910': 8996,
 '53031': 8983,
 '17740': 8972,
 '77280': 8966,
 '152842': 8956,
 '121452': 8954,
 '194364': 8953,
 '103244': 8948,
 '89199': 8935,
 '280790': 8930,
 '60691': 8896,
 '52515': 8870,
 '158593': 8852,
 '117712': 8835,
 '179254': 8814,
 '196549': 8791,
 '58307': 8782,
 '152759': 8774,
 '73428': 8762,
 '50673': 8757,
 '184620': 8743,
 '178792': 8740,
 '385024': 8730,
 '128741': 8719,
 '60206': 8707,
 '268944': 8703,
 '147951': 8701,
 '137756': 8699,
 '77792': 8697,
 '152850': 8696,
 '94287': 8685,
 '109913': 8669,
 '193509': 8666,
 '23772': 8666,
 '53858': 8659,
 '229865': 8657,
 '94306': 8636,
 '91406': 8628,
 '46353': 8622,
 '140360': 8600,
 '30576': 8579,
 '385464': 8578,
 '17278': 8572,
 '179485': 8567,
 '108552': 8559,
 '229938': 8540,
 '178401': 8534,
 '178820': 8507,
 '152845': 8503,
 '68752': 8496,
 '60754': 8494,
 '208651': 8493,
 '125858': 8490,
 '172424': 8490,
 '73348': 8490,
 '79318': 8455,
 '77251': 8453,
 '194190': 8444,
 '187198': 8444,
 '135105': 8434,
 '193954': 8424,
 '193965': 8423,
 '319717': 8404,
 '140776': 8397,
 '92326': 8396,
 '91096': 8387,
 '160822': 8381,
 '146528': 8368,
 '144149': 8368,
 '179498': 8365,
 '73454': 8360,
 '92629': 8352,
 '84146': 8343,
 '21353': 8342,
 '158267': 8334,
 '148482': 8325,
 '162550': 8325,
 '268600': 8325,
 '82521': 8323,
 '77565': 8317,
 '284276': 8315,
 '193390': 8315,
 '206548': 8303,
 '152844': 8292,
 '133151': 8290,
 '74945': 8288,
 '197018': 8274,
 '116197': 8270,
 '168490': 8268,
 '77561': 8266,
 '148600': 8242,
 '46906': 8231,
 '57720': 8217,
 '159425': 8209,
 '187202': 8204,
 '75970': 8187,
 '115663': 8181,
 '88637': 8166,
 '159526': 8162,
 '142900': 8161,
 '211706': 8160,
 '97098': 8124,
 '135374': 8115,
 '94169': 8094,
 '80234': 8084,
 '123720': 8079,
 '113335': 8067,
 '19921': 8047,
 '128872': 8042,
 '44744': 8035,
 '211947': 8025,
 '74793': 8011,
 '149188': 8009,
 '71658': 8001,
 '185060': 7992,
 '84268': 7988,
 '139660': 7977,
 '54630': 7968,
 '72205': 7960,
 '19015': 7943,
 '62623': 7942,
 '102379': 7934,
 '193951': 7923,
 '156945': 7902,
 '68407': 7893,
 '47236': 7890,
 '158579': 7890,
 '194213': 7860,
 '131373': 7853,
 '187950': 7851,
 '134012': 7832,
 '385673': 7827,
 '166767': 7826,
 '46220': 7821,
 '74157': 7819,
 '62687': 7811,
 '268752': 7810,
 '206410': 7802,
 '38111': 7796,
 '384227': 7790,
 '209035': 7781,
 '87115': 7771,
 '229502': 7762,
 '111583': 7741,
 '139544': 7734,
 '91332': 7732,
 '84107': 7719,
 '334198': 7713,
 '18391': 7705,
 '268404': 7696,
 '234418': 7688,
 '77924': 7671,
 '115366': 7668,
 '193998': 7659,
 '183092': 7653,
 '82148': 7651,
 '123722': 7651,
 '81771': 7650,
 '69936': 7639,
 '81805': 7633,
 '76413': 7630,
 '67303': 7616,
 '336310': 7614,
 '142520': 7612,
 '134086': 7599,
 '94285': 7597,
 '30692': 7595,
 '260015': 7580,
 '184269': 7576,
 '14505': 7569,
 '187542': 7526,
 '90313': 7523,
 '92217': 7504,
 '94013': 7503,
 '80473': 7494,
 '62138': 7493,
 '17406': 7479,
 '73611': 7470,
 '268936': 7467,
 '194117': 7432,
 '8565': 7415,
 '193575': 7401,
 '162763': 7397,
 '180133': 7394,
 '138422': 7390,
 '70970': 7387,
 '9024': 7387,
 '259488': 7376,
 '148522': 7368,
 '203105': 7346,
 '195096': 7343,
 '157551': 7335,
 '139971': 7323,
 '68147': 7321,
 '203698': 7319,
 '66485': 7318,
 '68352': 7311,
 '115707': 7309,
 '178250': 7300,
 '191645': 7298,
 '168691': 7292,
 '211764': 7280,
 '139814': 7279,
 '185985': 7272,
 '157399': 7263,
 '136311': 7255,
 '82829': 7235,
 '80051': 7232,
 '54444': 7229,
 '72493': 7218,
 '54962': 7200,
 '44742': 7200,
 '135923': 7189,
 '56893': 7189,
 '181064': 7178,
 '211861': 7174,
 '193946': 7172,
 '143012': 7147,
 '94502': 7146,
 '185979': 7133,
 '180015': 7126,
 '99384': 7123,
 '72178': 7119,
 '136199': 7107,
 '239446': 7100,
 '179860': 7099,
 '189634': 7087,
 '33184': 7084,
 '229975': 7075,
 '58824': 7071,
 '209704': 7070,
 '77960': 7070,
 '110209': 7060,
 '96424': 7057,
 '95704': 7051,
 '103096': 7050,
 '159553': 7046,
 '8562': 7043,
 '183869': 7029,
 '201754': 7026,
 '141265': 7024,
 '127023': 7022,
 '53146': 7018,
 '19147': 7013,
 ...}

## Прогнозирования времени исполнения запроса по предоставленным данным
- Модель машинного обучения

## Препроцессинг

In [12]:
# удаление пропусков
wk2 = wk2[wk2['time_target'].notna()]

wk2['query'] = wk2['query'].str.replace(',', ' ')
wk2.head(2)

,rn,loguser,query,duration,time_target,tables,tables_count
0,16493642,etl_528,from tbl_111329,duration: 240.851 ms,240.85,111329,1
1,12761109,etl_528,from tbl_127353,duration: 2165.935 ms,"2,165.93",127353,1

### Feature engineering

- id юзера
- тип юзера

In [13]:
# Выделили номер юзера
wk2['user_id'] = wk2['loguser'].str.replace('[^0-9]', '', regex=True).astype(int)

# Привели к типу категориальный и номерацию 1-0 в зависимости от типа пользователя
wk2['user_kind'] = wk2['loguser'].str.replace('[_0-9]', '', regex=True).astype('category').cat.codes
wk2 = wk2.drop('loguser', axis=1)
wk2.sample(3)

,rn,query,duration,time_target,tables,tables_count,user_id,user_kind
315240,23832606,from tbl_100774,duration: 22.753 ms,22.75,100774,1,2048,1
319164,21397281,from tbl_161214,duration: 31.978 ms,31.98,161214,1,2048,1
496223,971512,from tbl_158812,duration: 3889.921 ms,"3,889.92",158812,1,528,1

- общее время пользователя на все запросы
- кол-во запросов пользоватея за неделю
- медианное время пользователя по 1 запрос
- среднее кол-во таблиц в запросах пользователя

In [14]:
#общее время пользователя на все запросы
x = (
    wk2
    .groupby('user_id', as_index=False)['time_target']
    .sum()
    .rename(columns={'time_target':'sum_ms_time'})
)
display(x.sample(3))

wk2 = wk2.merge(x, on = 'user_id', how='left')
wk2['sum_ms_time'].fillna(0, inplace=True)
wk2.head(3)

    user_id   sum_ms_time
96     2113  1,245,370.36
79     1892 58,387,248.78
34      554 19,538,665.97

,rn,query,duration,time_target,tables,tables_count,user_id,user_kind,sum_ms_time
0,16493642,from tbl_111329,duration: 240.851 ms,240.85,111329,1,528,1,"369,114,653.08"
1,12761109,from tbl_127353,duration: 2165.935 ms,"2,165.93",127353,1,528,1,"369,114,653.08"
2,28294808,from tbl_128986,duration: 17661.026 ms,"17,661.03",128986,1,528,1,"369,114,653.08"

In [15]:
#кол-во запросов пользоватея за неделю
x = (
    wk2.groupby('user_id', as_index=False)['query']
    .count()
    .rename(columns={'query':'cnt_queries'})
)
display(x.sample(3))
wk2 = wk2.merge(x, on = 'user_id', how='left')
wk2['cnt_queries'].fillna(0, inplace=True)
wk2.tail(3)

    user_id  cnt_queries
2       106            9
69     1771           39
27      429            8

,rn,query,duration,time_target,tables,tables_count,user_id,user_kind,sum_ms_time,cnt_queries
557926,12924693,into tbl_83793 join tbl_83793 from tbl_83792,duration: 1190.617 ms,"1,190.62","83793,83793,83792",3,2048,1,"2,081,839,583.71",320398
557927,16756505,from tbl_15915,duration: 417.199 ms,417.20,15915,1,1151,1,"1,094,132,858.19",101918
557928,21023432,from tbl_83212,duration: 692.306 ms,692.31,83212,1,2048,1,"2,081,839,583.71",320398

In [16]:
#медианное время пользователя на 1 запрос
x = (
    wk2.groupby('user_id', as_index=False)['time_target']
    .median()
    .rename(columns={'time_target':'median_ms_time'})
)
display(x.sample(3))
wk2 = wk2.merge(x, on = 'user_id', how='left')
wk2['median_ms_time'].fillna(0, inplace=True)
wk2.sample(3)

    user_id  median_ms_time
75     1850        9,492.52
77     1866          742.81
4       184        3,484.73

,rn,query,duration,time_target,tables,tables_count,user_id,user_kind,sum_ms_time,cnt_queries,median_ms_time
128534,12666559,into tbl_26792 JOIN tbl_26792 from tbl_88685,duration: 300370.572 ms,"300,370.57","26792,26792,88685",3,1151,1,"1,094,132,858.19",101918,770.15
392517,24923536,from tbl_123828 join tbl_123829,duration: 195.337 ms,195.34,"123828,123829",2,2048,1,"2,081,839,583.71",320398,471.19
71763,24442407,into tbl_20626 join tbl_20626,duration: 143.025 ms,143.03,"20626,20626",2,1151,1,"1,094,132,858.19",101918,770.15

In [17]:
#среднее кол-во таблиц в запросах пользователя
x = (
    wk2.groupby('user_id', as_index=False)['tables_count']
    .mean()
    .rename(columns={'tables_count':'mean_table_count'})
)
display(x.sample(3))
wk2 = wk2.merge(x, on = 'user_id', how='left')
wk2['mean_table_count'].fillna(0, inplace=True)
wk2.sample(3)

    user_id  mean_table_count
79     1892              4.05
34      554              2.15
23      360              4.97

,rn,query,duration,time_target,tables,tables_count,user_id,user_kind,sum_ms_time,cnt_queries,median_ms_time,mean_table_count
554515,24441364,into tbl_12218 join tbl_12218,duration: 799.549 ms,799.55,"12218,12218",2,1151,1,"1,094,132,858.19",101918,770.15,1.66
335250,12275987,from tbl_48529,duration: 606.503 ms,606.50,48529,1,2048,1,"2,081,839,583.71",320398,471.19,1.49
134073,27394369,from tbl_114482,duration: 23.899 ms,23.90,114482,1,2048,1,"2,081,839,583.71",320398,471.19,1.49

### Удаляем выбросы в таргете(уменьшаем датасет для обучения)

In [18]:
Q1 = wk2[['time_target']].quantile(0.25)
Q3 = wk2[['time_target']].quantile(0.75)
IQR = Q3 - Q1

wk2 = wk2[~((wk2[['time_target']] < (Q1 - 1.5 * IQR)) |(wk2[['time_target']] > (Q3 + 1.5 * IQR))).any(axis=1)]
display(wk2.shape)
wk2.head(3)

(474978, 12)

,rn,query,duration,time_target,tables,tables_count,user_id,user_kind,sum_ms_time,cnt_queries,median_ms_time,mean_table_count
0,16493642,from tbl_111329,duration: 240.851 ms,240.85,111329,1,528,1,"369,114,653.08",47464,"1,130.01",1.16
1,12761109,from tbl_127353,duration: 2165.935 ms,"2,165.93",127353,1,528,1,"369,114,653.08",47464,"1,130.01",1.16
3,12703938,from tbl_155188,duration: 1047.568 ms,"1,047.57",155188,1,528,1,"369,114,653.08",47464,"1,130.01",1.16

### Подготовка данных для обучения

In [19]:
# Выберем столбцы 
feature_col = ['query', 'tables_count',
       'user_id', 'user_kind', 'sum_ms_time', 
       'cnt_queries', 'median_ms_time',
       'mean_table_count']

X = wk2[feature_col]
y = wk2['time_target'].values

# без перемешивания данных
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=13, shuffle=False)

### Векторизация запросов

In [20]:
word_vectorizer = CountVectorizer(ngram_range=(1, 2))
wk2['query'] = wk2['query'].str.replace(',', ' ')
wk2['query'] = wk2['query'].str.replace('tbl_', ' ')
word_vectorizer.fit(X_train['query'])
train_word_features = word_vectorizer.transform(X_train['query'])
test_word_features = word_vectorizer.transform(X_val['query'])

X_train = hstack([X_train[feature_col[1:]].values, train_word_features])
X_val = hstack([X_val[feature_col[1:]].values, test_word_features])

### Модель машинного обучения

In [21]:
train_pool = Pool(
    X_train,
    y_train,
)
valid_pool = Pool(
    X_val,
    y_val,
)

In [22]:
# Обучим модель на 500 итерациях
catboost_params = {
    'iterations': 500,
    'learning_rate': 0.03,
    'loss_function': 'MAE',
    'eval_metric': 'MAE',
    'early_stopping_rounds': 100,
    'use_best_model': True,
    'verbose': 5
}

In [23]:
model = CatBoostRegressor(**catboost_params)
model.fit(train_pool, eval_set=valid_pool)

0:	learn: 1235.9531306	test: 1239.5694579	best: 1239.5694579 (0)	total: 1.01s	remaining: 8m 24s
5:	learn: 1221.1065539	test: 1224.8847829	best: 1224.8847829 (5)	total: 5.28s	remaining: 7m 15s
10:	learn: 1210.4301882	test: 1214.3921891	best: 1214.3921891 (10)	total: 9.43s	remaining: 6m 59s
15:	learn: 1202.6049898	test: 1206.6668470	best: 1206.6668470 (15)	total: 13.4s	remaining: 6m 46s
20:	learn: 1196.2038070	test: 1200.4543943	best: 1200.4543943 (20)	total: 17.7s	remaining: 6m 43s
25:	learn: 1191.6143646	test: 1196.0075834	best: 1196.0075834 (25)	total: 21.6s	remaining: 6m 33s
30:	learn: 1188.2650299	test: 1192.7690491	best: 1192.7690491 (30)	total: 25.6s	remaining: 6m 26s
35:	learn: 1185.9821214	test: 1190.5330248	best: 1190.5330248 (35)	total: 29.7s	remaining: 6m 22s
40:	learn: 1183.8286801	test: 1188.4284285	best: 1188.4284285 (40)	total: 33.6s	remaining: 6m 16s
45:	learn: 1182.1248000	test: 1186.7839239	best: 1186.7839239 (45)	total: 37.7s	remaining: 6m 12s
50:	learn: 1180.9379242	test: 1185.6207199	best: 1185.6207199 (50)	total: 42s	remaining: 6m 9s
55:	learn: 1179.8645655	test: 1184.5870208	best: 1184.5870208 (55)	total: 46.9s	remaining: 6m 11s
60:	learn: 1178.8988915	test: 1183.6565763	best: 1183.6565763 (60)	total: 51.5s	remaining: 6m 10s
65:	learn: 1177.9027890	test: 1182.6784022	best: 1182.6784022 (65)	total: 55.8s	remaining: 6m 7s
70:	learn: 1177.1145143	test: 1181.9153170	best: 1181.9153170 (70)	total: 1m 1s	remaining: 6m 13s
75:	learn: 1176.3501456	test: 1181.1921475	best: 1181.1921475 (75)	total: 1m 6s	remaining: 6m 8s
80:	learn: 1175.7235451	test: 1180.5964333	best: 1180.5964333 (80)	total: 1m 10s	remaining: 6m 5s
85:	learn: 1175.0614410	test: 1179.9401047	best: 1179.9401047 (85)	total: 1m 14s	remaining: 5m 57s
90:	learn: 1174.4055536	test: 1179.3009925	best: 1179.3009925 (90)	total: 1m 18s	remaining: 5m 51s
95:	learn: 1173.8423478	test: 1178.7599069	best: 1178.7599069 (95)	total: 1m 21s	remaining: 5m 44s
100:	learn: 1173.4195687	test: 1178.3396807	best: 1178.3396807 (100)	total: 1m 25s	remaining: 5m 38s
105:	learn: 1173.0254593	test: 1177.9692683	best: 1177.9692683 (105)	total: 1m 29s	remaining: 5m 32s
110:	learn: 1172.6048497	test: 1177.5750497	best: 1177.5750497 (110)	total: 1m 33s	remaining: 5m 25s
115:	learn: 1172.2215061	test: 1177.2009356	best: 1177.2009356 (115)	total: 1m 37s	remaining: 5m 21s
120:	learn: 1171.9312241	test: 1176.9319391	best: 1176.9319391 (120)	total: 1m 40s	remaining: 5m 16s
125:	learn: 1171.6681803	test: 1176.6915899	best: 1176.6915899 (125)	total: 1m 45s	remaining: 5m 12s
130:	learn: 1171.3406695	test: 1176.3789030	best: 1176.3789030 (130)	total: 1m 49s	remaining: 5m 7s
135:	learn: 1171.1003367	test: 1176.1447785	best: 1176.1447785 (135)	total: 1m 52s	remaining: 5m 1s
140:	learn: 1170.8728272	test: 1175.9239283	best: 1175.9239283 (140)	total: 1m 56s	remaining: 4m 56s
145:	learn: 1170.5794141	test: 1175.6403589	best: 1175.6403589 (145)	total: 2m	remaining: 4m 51s
150:	learn: 1170.3014389	test: 1175.4132411	best: 1175.4132411 (150)	total: 2m 3s	remaining: 4m 45s
155:	learn: 1170.1238198	test: 1175.2421974	best: 1175.2421974 (155)	total: 2m 7s	remaining: 4m 40s
160:	learn: 1169.8664237	test: 1174.9831892	best: 1174.9831892 (160)	total: 2m 10s	remaining: 4m 35s
165:	learn: 1169.4424739	test: 1174.5756742	best: 1174.5756742 (165)	total: 2m 14s	remaining: 4m 30s
170:	learn: 1168.9420919	test: 1174.0744194	best: 1174.0744194 (170)	total: 2m 18s	remaining: 4m 25s
175:	learn: 1168.7403884	test: 1173.8909906	best: 1173.8909906 (175)	total: 2m 21s	remaining: 4m 20s
180:	learn: 1168.5268046	test: 1173.6892549	best: 1173.6892549 (180)	total: 2m 25s	remaining: 4m 15s
185:	learn: 1168.3371026	test: 1173.5073285	best: 1173.5073285 (185)	total: 2m 28s	remaining: 4m 10s
190:	learn: 1168.1500303	test: 1173.3294481	best: 1173.3294481 (190)	total: 2m 32s	remaining: 4m 6s
195:	learn: 1167.9265343	test: 1173.1263994	best: 1173.1263994 (195)	total: 2m 35s	remaining: 4m 1s
200:	learn: 1167.7261077	test: 1172.9362417	best: 1172.9362417 (200)	total: 2m 39s	remaining: 3m 57s
205:	learn: 1167.4964877	test: 1172.7081894	best: 1172.7081894 (205)	total: 2m 42s	remaining: 3m 52s
210:	learn: 1167.3269083	test: 1172.5602079	best: 1172.5602079 (210)	total: 2m 46s	remaining: 3m 47s
215:	learn: 1166.9197997	test: 1172.1451630	best: 1172.1451630 (215)	total: 2m 50s	remaining: 3m 43s
220:	learn: 1166.6924961	test: 1171.9195732	best: 1171.9195732 (220)	total: 2m 53s	remaining: 3m 39s
225:	learn: 1166.4346276	test: 1171.6883442	best: 1171.6883442 (225)	total: 2m 57s	remaining: 3m 34s
230:	learn: 1166.2379449	test: 1171.4921241	best: 1171.4921241 (230)	total: 3m	remaining: 3m 30s
235:	learn: 1166.0094443	test: 1171.2702939	best: 1171.2702939 (235)	total: 3m 4s	remaining: 3m 26s
240:	learn: 1165.7545911	test: 1171.0130334	best: 1171.0130334 (240)	total: 3m 8s	remaining: 3m 22s
245:	learn: 1165.5777414	test: 1170.8593767	best: 1170.8593767 (245)	total: 3m 11s	remaining: 3m 18s
250:	learn: 1165.3781762	test: 1170.6459359	best: 1170.6459359 (250)	total: 3m 15s	remaining: 3m 13s
255:	learn: 1165.1949427	test: 1170.4738901	best: 1170.4738901 (255)	total: 3m 19s	remaining: 3m 9s
260:	learn: 1164.9856760	test: 1170.2765922	best: 1170.2765922 (260)	total: 3m 22s	remaining: 3m 5s
265:	learn: 1164.7722669	test: 1170.0837387	best: 1170.0837387 (265)	total: 3m 26s	remaining: 3m 1s
270:	learn: 1164.6278439	test: 1169.9510372	best: 1169.9510372 (270)	total: 3m 30s	remaining: 2m 57s
275:	learn: 1164.4913741	test: 1169.8322019	best: 1169.8322019 (275)	total: 3m 34s	remaining: 2m 53s
280:	learn: 1164.3246947	test: 1169.6675200	best: 1169.6675200 (280)	total: 3m 38s	remaining: 2m 49s
285:	learn: 1164.1803124	test: 1169.5482673	best: 1169.5482673 (285)	total: 3m 41s	remaining: 2m 45s
290:	learn: 1164.0433484	test: 1169.4167932	best: 1169.4167932 (290)	total: 3m 45s	remaining: 2m 41s
295:	learn: 1163.9132730	test: 1169.2939982	best: 1169.2939982 (295)	total: 3m 48s	remaining: 2m 37s
300:	learn: 1163.6552356	test: 1169.0357479	best: 1169.0357479 (300)	total: 3m 52s	remaining: 2m 33s
305:	learn: 1163.5422558	test: 1168.9230905	best: 1168.9230905 (305)	total: 3m 56s	remaining: 2m 29s
310:	learn: 1163.4211696	test: 1168.8261525	best: 1168.8261525 (310)	total: 4m	remaining: 2m 25s
315:	learn: 1163.2941096	test: 1168.7091227	best: 1168.7091227 (315)	total: 4m 3s	remaining: 2m 21s
320:	learn: 1163.1799861	test: 1168.6195504	best: 1168.6195504 (320)	total: 4m 7s	remaining: 2m 17s
325:	learn: 1163.0686318	test: 1168.5383886	best: 1168.5383886 (325)	total: 4m 10s	remaining: 2m 13s
330:	learn: 1162.9552176	test: 1168.4345344	best: 1168.4345344 (330)	total: 4m 14s	remaining: 2m 9s
335:	learn: 1162.8060882	test: 1168.2775523	best: 1168.2775523 (335)	total: 4m 18s	remaining: 2m 6s
340:	learn: 1162.7250064	test: 1168.1998703	best: 1168.1998703 (340)	total: 4m 21s	remaining: 2m 2s
345:	learn: 1162.6156621	test: 1168.1130588	best: 1168.1130588 (345)	total: 4m 25s	remaining: 1m 58s
350:	learn: 1162.4962049	test: 1168.0112336	best: 1168.0112336 (350)	total: 4m 29s	remaining: 1m 54s
355:	learn: 1162.4167165	test: 1167.9441518	best: 1167.9441518 (355)	total: 4m 32s	remaining: 1m 50s
360:	learn: 1162.2104200	test: 1167.7390962	best: 1167.7390962 (360)	total: 4m 36s	remaining: 1m 46s
365:	learn: 1162.0952930	test: 1167.6332054	best: 1167.6332054 (365)	total: 4m 40s	remaining: 1m 42s
370:	learn: 1162.0087595	test: 1167.5493606	best: 1167.5493606 (370)	total: 4m 43s	remaining: 1m 38s
375:	learn: 1161.9085523	test: 1167.4680023	best: 1167.4680023 (375)	total: 4m 47s	remaining: 1m 34s
380:	learn: 1161.8015426	test: 1167.3737184	best: 1167.3737184 (380)	total: 4m 51s	remaining: 1m 30s
385:	learn: 1161.7365885	test: 1167.3150492	best: 1167.3150492 (385)	total: 4m 54s	remaining: 1m 26s
390:	learn: 1161.6530303	test: 1167.2201919	best: 1167.2201919 (390)	total: 4m 58s	remaining: 1m 23s
395:	learn: 1161.5756884	test: 1167.1568998	best: 1167.1568998 (395)	total: 5m 1s	remaining: 1m 19s
400:	learn: 1161.4812296	test: 1167.0604867	best: 1167.0604867 (400)	total: 5m 5s	remaining: 1m 15s
405:	learn: 1161.3795624	test: 1166.9616226	best: 1166.9616226 (405)	total: 5m 9s	remaining: 1m 11s
410:	learn: 1161.2937337	test: 1166.8872228	best: 1166.8872228 (410)	total: 5m 12s	remaining: 1m 7s
415:	learn: 1161.2085415	test: 1166.8185316	best: 1166.8185316 (415)	total: 5m 16s	remaining: 1m 3s
420:	learn: 1161.1420641	test: 1166.7572319	best: 1166.7572319 (420)	total: 5m 20s	remaining: 1m
425:	learn: 1161.0406577	test: 1166.6699132	best: 1166.6699132 (425)	total: 5m 23s	remaining: 56.2s
430:	learn: 1160.8452521	test: 1166.5013933	best: 1166.5013933 (430)	total: 5m 27s	remaining: 52.4s
435:	learn: 1160.7735800	test: 1166.4378098	best: 1166.4378098 (435)	total: 5m 30s	remaining: 48.6s
440:	learn: 1160.6739315	test: 1166.3435968	best: 1166.3435968 (440)	total: 5m 34s	remaining: 44.7s
445:	learn: 1160.5857268	test: 1166.2602610	best: 1166.2602610 (445)	total: 5m 37s	remaining: 40.9s
450:	learn: 1160.4666007	test: 1166.1469772	best: 1166.1469772 (450)	total: 5m 41s	remaining: 37.1s
455:	learn: 1160.3588138	test: 1166.0598439	best: 1166.0598439 (455)	total: 5m 45s	remaining: 33.3s
460:	learn: 1160.2864105	test: 1165.9970999	best: 1165.9970999 (460)	total: 5m 49s	remaining: 29.6s
465:	learn: 1160.2178776	test: 1165.9353055	best: 1165.9353055 (465)	total: 5m 52s	remaining: 25.8s
470:	learn: 1160.0758602	test: 1165.7927198	best: 1165.7927198 (470)	total: 5m 56s	remaining: 22s
475:	learn: 1159.9556319	test: 1165.6782335	best: 1165.6782335 (475)	total: 6m	remaining: 18.2s
480:	learn: 1159.7797642	test: 1165.5137046	best: 1165.5137046 (480)	total: 6m 4s	remaining: 14.4s
485:	learn: 1159.7021430	test: 1165.4415210	best: 1165.4415210 (485)	total: 6m 7s	remaining: 10.6s
490:	learn: 1159.5990881	test: 1165.3413453	best: 1165.3413453 (490)	total: 6m 11s	remaining: 6.81s
495:	learn: 1159.4851566	test: 1165.2431969	best: 1165.2431969 (495)	total: 6m 15s	remaining: 3.03s
499:	learn: 1159.4206593	test: 1165.1814443	best: 1165.1814443 (499)	total: 6m 18s	remaining: 0us

bestTest = 1165.181444
bestIteration = 499

In [24]:
pred = model.predict(X_val)
print('Средняя абсолютная ошибка составляет -', round(mae(y_val, pred), 2), 'мс')

Средняя абсолютная ошибка составляет - 1165.18 мс

## Топ 10 "горячих таблиц"

In [25]:
pd.DataFrame(tables_cnt_dict, columns=['table', 'frequency of use'])[:10]

    table  frequency of use
0    7207             55626
1   11022             55606
2   33595             38653
3   33623             33795
4   33570             17160
5   27182             14341
6   14714             11623
7   20007             11498
8  211513              9602
9   33583              7432

## Топ 10 "тяжелых таблиц"

In [26]:
pd.DataFrame.from_dict(tables_time_dict.items()).rename(columns={0:'tables', 1:'median_time_ms'})[:10]

   tables  median_time_ms
0   14996        11219406
1  308121         4690881
2  281142         2473347
3  309364         2159433
4  305654         1718636
5  230191          874169
6  188049          738126
7  173857          718979
8  308374          622265
9   92506          584563

## Прогноз на основе данных запроса и юзера

In [27]:
def predict_query_time(loguser:str, query: str):
  d = {'loguser': loguser, 'query':query}
  data = pd.DataFrame([d], columns=d.keys())
  data['query'] = data['query'].str.replace(',', ' ')
  data['tables'] = data['query'].str.replace('[^0-9,]', '', regex=True).str.lower()
  data['tables_count'] = data['tables'].str.split(',').apply(len)

  data['user_id'] = data['loguser'].str.replace('[^0-9]', '', regex=True).astype(int)
  data['user_kind'] = data['loguser'].str.replace('[_0-9]', '', regex=True).astype('category').cat.codes
  data = data.drop('loguser', axis=1)

  x = data.groupby('user_id', as_index=False)['query'].count().rename(columns={'query':'cnt_queries'})
  data = data.merge(x, on = 'user_id', how='left')
  data['cnt_queries'].fillna(0, inplace=True)

  x = data.groupby('user_id', as_index=False)['tables_count'].mean().rename(columns={'tables_count':'mean_table_count'})
  data = data.merge(x, on = 'user_id', how='left')
  data['mean_table_count'].fillna(0, inplace=True)

  data = data.merge(wk2[['user_id', 'sum_ms_time', 'median_ms_time']].drop_duplicates(), on='user_id', how='left')

  pred_word_features = word_vectorizer.transform(data['query'])

  test = hstack([data[feature_col[1:]].values, pred_word_features])

  pred = model.predict(test)

  txt = f'среднее время выполнения запроса - {round(pred[0] / 1000, 1)} +-1 сек'
  return txt

In [29]:
#введите юзера и его запрос в формате str
predict_query_time('dev_528', 'into 83793 join 83793 from 83792')

'среднее время выполнения запроса - 1.6 +-1 сек'

## Очень крутой результат! Обработка меньше одной секунды.